<div class="project padded">
	<h1>Node Annotate</h1>
	<p>
		<a href="https://github.com/timothyeburke/node-annotate" target="_blank">github.com/timothyeburke/node-annotate</a>
	</p>
	<p>
		Technologies used: JavaScript, Express, node.js
	</p>
	<img src="assets/images/annotate.png" />
	<p>
		I needed a way to automatically generate REST API docs for a node.js application I was building. I made an extension on top of Express that creates a REST endpoint that displays all of the registered endpoints (both path and HTTP verb). Optionally the developer can annotate their endpoints with a description. 
	</p>
</div>