<div class="project padded">
	<h1>Color Blind Reminder</h1>
	<p>
		<a href="http://timburke.co/colorblind/" target="_blank">timburke.co/colorblind</a>
	</p>
	<p>
		Technologies used: HTML
	</p>
	<img src="assets/images/colorblind.png" />
	<p>
		This tool is something I use to brow-beat developers (and sometimes designers too) who try to design using red/green for bad/good state information in user interfaces. It's important to remember that color-blind users exist, and using red-green colors without corresponding iconography makes software systems difficult for those users.
	</p>
	<p>
		True story: I got into this argument with the CEO of <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a> on this topic. He insisted that because we were making information management software for Army soldiers, accounting for color-blindness was not necessary because the Army did not take color blind soldiers. After investigating with our customer, we found out that not only does the Army take on color blind soldiers, those who are color blind are pushed into certain kinds of non-combat roles, such as those who would be using the kinds of software we were providing. In fact, color-blind users were over-represented among our target users.  
	</p>
</div>