<div class="project padded">
	<h1>Metropolitan Overlook Dashboard</h1>
	<p>
		<a href="http://metropolitan-overlook-dash.herokuapp.com/" target="_blank">metropolitan-overlook-dash.herokuapp.com</a>
	</p>
	<p>
		Technologies used: JavaScript, AngularJS, Sass, node.js, express, heroku
	</p>
	<img src="assets/images/MO.png" />
	<p>
		This is a local transit information dashboard I wrote for my condo community. This display is on a TV mounted in the lobby of my building and provides residents with information about bus and metro arrival times, time, date, weather, bikeshare station inventory, and nearby car2go cars. This app is designed to run in a full-screen web browser on a 42" TV with a standard 1080p resolution... or what I'm trying to say is that it is not responsive and won't look great on your laptop. Maybe someday.	
	</p>
	<p>
		The front-end uses AngularJS to pull and display information gathered from a webservice. The webservice is a node.js application, deployed on heroku, that periodically pulls information from the WMATA API for bus/metro arrival times, and metro alerts. The service also fetches information from the forcast.io API, the car2go API, and the Capital Bikeshare API. 
	</p>
</div>