<div class="project padded">
    <h1>Facebook Most Recent</h1>
    <p>
        <a href="https://goo.gl/ucbvuA" target="_blank">https://goo.gl/ucbvuA</a>
    </p>
    <p>
        Technologies used: JavaScript
    </p>
    <img src="images/facebook-recent.png" />
    <p>
        I've wanted Facebook to go back to a chronological timeline. The best they offer is the "Most Recent" view of the timeline... but they have this nasty habit of forgetting your choice and they like to default you back to the "Top Stories" view. Damn it, Facebook. So I wrote a simple Google Chrome extension to always default the homepage view to Most Recent.
    </p>
    <p>
        Check out my Github account for the source. Or add it to your Chrome. Go ahead. You want to.
    </p>
</div>
