<div class="project padded">
    <h1>Hubot Plugins</h1>
    <p>
        Technologies used: JavaScript, Hubot
    </p>
    <img src="images/hubot.png" />
    <p>
        The <a href="http://kitcheck.com" target="_blank">Kit Check</a> and <a href="http://marianatek.com" target="_blank">Mariana</a> teams use <a href="http://slack.com" target="_blank">Slack</a> a lot. To tie developer tools into Slack, both use <a href="https://hubot.github.com/" target="_blank">Hubot</a>, a programmable bot. I've built interactive plugins for both Hubots (Kit Check's is called Kitbot, Mariana's is called Huffbot) for displaying pull requests and issues from <a href="http://github.com/" target="_blank">Github</a>, build system status and build results from <a href="https://circleci.com/" target="_blank">CircleCI</a>, displaying nearby food trucks, showing cat and pug pictures, and for looking up metro and bus times from <a href="http://www.wmata.com/" target="_blank">WMATA</a>.
    </p>
</div>
