<div class="projects">
    {{#each-in model as |route image|}}
        {{#link-to route}}
            <img src="{{image}}" />
        {{/link-to}}
    {{/each-in}}
    <div style="clear:both;"></div>
</div>
