<div class="project padded">
    <h1>Kit Check</h1>
    <p>
        <a href="https://kitcheck.com/product-tour/" target="_blank">kitcheck.com</a>
    </p>
    <p>
        Technologies used: JavaScript (eventually full ES6), AngularJS, Ruby on Rails, Sass
    </p>
    <img src="images/blue-box.png" />
    <img src="images/kitcheck.png" />
    <p>
        Kit Check is a SaaS provider of medication tracking software for hospitals. Their original product, Kit Check, enables faster processing and restocking of medication kits (crash carts, labor and delivery trays, anesthesia day and case kits, etc). Medications are tagged with RFID tags so they can be identified by manufacturer, drug type and concentration, expiration date, and lot number. Kits are tagged with an RFID tag identifying them and their refill template. When a kit comes back to the hospital pharmacy, the kit is scanned and whatever is missing is provided as a list for replacement. Additionally, the pharmacy staff is instructed to remove any expired or recalled medications. This takes a very tedious, manual process from 30-40 minutes down to around 5.
    </p>
</div>
