<div class="project padded">
    <h1>Neighborhood App</h1>
    <p>
        <a href="https://dc.timburke.co/" target="_blank">dc.timburke.co</a>
    </p>
    <p>
        <a href="https://nyc.timburke.co/" target="_blank">nyc.timburke.co</a>
    </p>
    <p>
        Technologies used: JavaScript
    </p>
    <img src="images/dc-neighborhood.png" />
    <p>
        Often when I lived in DC, I would be wandering around and find myself in a neighborhood that I am not entirely familiar with. Google Maps is useful, but doesn't do well at knowing most of the neighborhoods in DC - their data is really rough and only covers the most popular areas. I threw this small webapp together using some polygons for the various DC neighborhoods and the geospatial coordinates returned by the browser. It's meant to be saved as a web link or web app on your phone so you can look up where you are.
    </p>
    <p>
        After a recent trip to New York City, I made a version of the app for NYC too.
    </p>
</div>
