<div class="project padded">
    <h1>Ringtail Design Homework</h1>
    <p>
        <a href="http://timburke.co/r" target="_blank">timburke.co/r</a>
    </p>
    <p>
        Technologies used: JavaScript, Google Maps, jQuery, jQuery Plot
    </p>
    <img src="images/ringtailhomework.png" />
    <p>
        Until recently, <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a> required all candidates to complete a homework assignment as the last step in the hiring process. The assignment was to build a tool to analyze a set of geospatial data relating to crime types. This was my take on it. I spent about 12 hours building this and they did hire me, so I guess it was good? We've absolutely had some more amazing assignments turned in by coworkers hired after me... but I'm not jealous.
    </p>
    <p>
        Ok maybe a little jealous.
    </p>
</div>
