<div class="project padded">
    <h1>This Website</h1>
    <p>
        <a href="https://timburke.co" target="_blank">timburke.co</a>
    </p>
    <p>
        Technologies used: EmberJS, JavaScript, Sass, Amazon S3 with CloudFront
    </p>
    <img src="images/site-square.png" />
    <p>
        This site is a really simple, single-page EmberJS application.
    </p>
    <p>
        The site is hosted using Amazon S3, CloudFront for CDN / SSL Termination, with Route 53 for DNS routing.
    </p>
</div>
