@font-face {
    font-family: socials;
    src: url(images/icons.woff);
}

html, body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

a, h1, h2 {
    color: #000;
}

h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    margin-inline: auto;
}

td {
    padding: 0 10px 0 0;
    vertical-align: top;
}

.container {
    /* background-color: #eee; */
    margin: 0 auto;
    max-width: 768px;
    min-height: calc(100vh - 130px);
    min-width: 400px;
    position: relative;
}

.content {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 0 160px 0;
}

.content h2 {
    font-size: 30px;
    padding: 30px 0 10px 0;
}

.header {
    background-color: #003566;
    padding: 30px;
    text-align: center;
}

.header h1 {
    color: #fff;
    font-size: 50px;
}

.header a {
    text-decoration: none;
}

.footer {
    bottom: 0;
    left: 0;
    padding: 60px 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.icon {
    color: #ccc;
    font-family: socials;
    font-size: 45px;
    font-style: normal;
    margin: 20px;
}

.dogs {
    margin: 0px auto;
    max-width: 550px;
}

.dogs > img {
    width: 100%;
}

.footer a:hover > .twitter {
    color: rgb(0, 172, 237);
}

.footer a:hover > .linkedin {
    color: rgb(0, 123, 182);
}

.footer a:hover > .github {
    color: #000;
}

.footer a:hover > .instagram {
    color: #000;
}
