<div class="project padded">
    <h1>Anesthesia Check</h1>
    <p>
        <a href="https://kitcheck.com/anesthesia-check-product-tour/" target="_blank">kitcheck.com</a>
    </p>
    <p>
        Technologies used: JavaScript (eventually full ES6), AngularJS, Ruby on Rails, Sass
    </p>
    <img src="assets/images/acheck.png" />
    <p>
        Kit Check is a SaaS provider of medication tracking software for hospitals. As an extension of their Kit Check product, Anesthesia Check provides insight into the usage of medications used in Anesthesia practice by tracking medications when they leave the pharmacy for operating rooms, analyzing their usage, and helping to calculate waste and return values. Anesthesia providers scan their vials and print RFID labels for syringes using custom hardware, and those labels are subsequently scanned when the syringe is administered to a patient. That scan enables automatic tracking of patient dosing and patient billing for medications.
    </p>
</div>