<div class="project padded">
    <h1>FizzBuzz</h1>
    <p>
        <a href="http://timburke.co/fizzbuzz" target="_blank">timburke.co/fizzbuzz</a>
    </p>
    <p>
        Technologies used: JavaScript
    </p>
    <img src="assets/images/fizzbuzz.png" />
    <p>
        Have you ever gotten the FizzBuzz question on an interview? Have you ever asked a candidate to do it and had it go wrong? I've had both. So why not put this out there. Because.
    </p>
    <p>
        That being said, my favorite implementation of FizzBuzz is the <a href="https://github.com/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition" target="_blank">FizzBuzzEnterpriseEdition</a>. 
    </p>
</div>