<div class="project padded">
    <h1>Food Truck Notification</h1>
    <p>
        Technologies used: JavaScript, node.js, jenkins
    </p>
    <img src="assets/images/foodtrucks.png" />
    <p>
        The <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a> DC office really loves food trucks. For instance, there are monthly outings during the summer to <a href="http://www.truckeroodc.com/www/" target="_blank">Truckeroo</a>. Every day at the beginning of lunch time, a jenkins server runs a node script to scrape the food truck data from <a href="http://foodtruckfiesta.com/" target="_blank">Food Truck Fiesta</a>, reducing the list using a bounding box filter, and sends an email to the office listing which trucks are outside near the Rosslyn metro station. 
    </p>
    <p>
        Because food trucks. And node. And jenkins.
    </p>
</div>