<div class="project padded">
    <h1>Mariana Tek</h1>
    <p>
        <a href="http://www.marianatek.com" target="_blank">marianatek.com</a>
    </p>
    <p>
        Technologies used: JavaScript (fully ES6), EmberJS, Less
    </p>
    <img src="assets/images/class-management.png" />
    <p>
        Mariana Tek is a SaaS provider of studio management software for high-end fitness places (think Soul Cycle, Pure Barre, Flywheel Sports, etc.). While working for Mariana, my role focused on building several parts of their studio management user interface, including an app for managing first-come-first-serve reservation style classes. The app is built using EmberJS and is targeted for use on a standard Apple iPad rather than a desktop computer.
    </p>
    <p>
        Other work focused on building out customer relationship management screens, basic reporting functionality, and unit testing.
    </p>
</div>