<div class="projects">
    <a href="#/projects/mariana">
        <img src="assets/images/class-management-square.png" />
    </a>
    <a href="#projects/acheck">
        <img src="assets/images/acheck-square.png" />
    </a>
    <a href="#projects/kitcheck">
        <img src="assets/images/blue-box-square.png" />
    </a>
    <a href="#/projects/hubot">
        <img src="assets/images/hubot.png" />
    </a>
    <a href="#/projects/facebook">
        <img src="assets/images/facebook-recent.png" />
    </a>
    <a href="#/projects/stats">
        <img src="assets/images/stats.png" />
    </a>
    <a href="#/projects/foodtrucks">
        <img src="assets/images/foodtrucks.png" />
    </a>
    <a href="#/projects/rain">
        <img src="assets/images/rain.png" />
    </a>
    <a href="#/projects/replay">
        <img src="assets/images/cesium.png" />
    </a>
    <a href="#/projects/site">
        <img src="assets/images/site-square.png" />
    </a>
    <a href="#/projects/mo">
        <img src="assets/images/MO-square.png" />
    </a>
    <a href="#/projects/annotate">
        <img src="assets/images/annotate.png" />
    </a>
    <a href="#/projects/ringtailhomework">
        <img src="assets/images/ringtailhomework.png" />
    </a>
    <a href="#/projects/fizzbuzz">
        <img src="assets/images/fizzbuzz.png" />
    </a>
    <a href="#/projects/colorblind">
        <img src="assets/images/colorblind.png" />
    </a>
    <div style="clear:both;"></div>
</div>
