<div class="project padded">
	<h1>Intelligence Needs Kiosk</h1>
	<p>
		Technologies used: JavaScript, Knockout (1st rev.), AngularJS (2nd rev.), Sass, node.js, Express, MongoDB
	</p>
	<img src="assets/images/rain.png" />
	<p>
		Design and implement an initial prototype of a touch-screen kiosk view of intelligence needs for <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a>, allowing users to walk up, select different questions, and see artifacts related to them. Initial prototype was used to conduct user sessions, leading to a revised design and implementation. First revision was built using Knockout and second version was built using AngularJS. The data service is node.js, Express, and MongoDB. 
	</p>
</div>