<div class="project padded">
	<h1>Replay Web Prototype</h1>
	<p>
		Technologies used: JavaScript, Cesium, Sass
	</p>
	<img src="assets/images/cesium.png" />
	<p>
		This rapid prototype was a proof of concept effort for building a time-variable, geospatial data playback tool in a web browser. The basic featureset needed to mimic an existing desktop application used for playing back similar data, also produced by <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a>. The globe and map tiles are rendered using Cesium, an open-source WebGL globe and map tile rendering engine. 
	</p>
</div>