<div class="project padded">
    <h1>This Website</h1>
    <p>
        <a href="http://timburke.co" target="_blank">timburke.co</a>
    </p>
    <p>
        Technologies used: AngularJS, JavaScript, Sass, jQuery, Amazon S3 with CloudFront
    </p>
    <img src="assets/images/site-square.png" />
    <p>
        This site is a really simple, single-page AngularJS application. I used Angular because I've used it before, and it's really easy to set up a multi-route, multi-view application with page and data templates. In this case, it's all just static HTML templates, but if I was feeling really fun I could make it all data templates and make the data JSON. Because JSON.
    </p>
    <p>
        The site is hosted using Amazon S3, with Route 53 for DNS routing.
    </p>
    <p>
        Because automation stuff is fun, the site is configured for automatic deployment to AWS using <a href="http://circleci.com" target="_blank">CircleCI</a> whenever I make commits or merge to the <code>master</code> branch. Nifty, right?
    </p>
</div>