<div class="project padded">
    <h1>Swivl Stats</h1>
    <p>
        Technologies used: JavaScript, Durandal (Knockout), d3, Sass, Spring MVC, Java, MonetDB
    </p>
    <img src="assets/images/stats.png" />
    <img src="assets/images/sunburst.png" />
    <p>
        Swivl Stats is a product and platform at <a href="http://ringtaildesign.com" target="_blank">Ringtail Design</a> for instrumenting applications, services, and databases in cloud-based information processing systems. The Stats dashboard displays interaction and usage information summarized on interactive charts. The front-end is written in Durandal (a knockout-based library), with charts built using d3, and styled using Sass. The web service is Spring MVC on top of a Java-based data analytics engine that uses MonetDB, an in-memory column-store database.
    </p>
    <p>
        This is a multi-developer project spanning multiple years of effort. My contributions included building some of the chart components on the UI, writing a JavaScript wrapper on top of the REST API for other web application developers to use when instrumenting their applications, updating and improving the Spring MVC REST API, adding features to the data analytics layer, and adding features to the database query layer, including performance optimizations.
    </p>
</div>