@import "fonts.scss";
@import "normalize.scss";

body {
    @include lora;
    background-color: rgb(230, 230, 230);
}

h1, h2, h3, h4 {
    @include montserrat;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 0px;
}

a, a:visited {
    color: darken(blue, 7%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mono {
    font-family: monospace;
}

.center {
    height: 100%;
    margin: 0px auto;
    max-width: 768px;
    position: relative;
}

header {
    @include montserrat;
    height: 200px;
    position: relative;
    white-space: nowrap;

    @media (max-width: 767px) {
        height: 100px;
        margin-bottom: 30px;
        padding: 15px;
    }

    @media (max-width: 480px) {
        height: 70px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .background {
        background-color: rgb(222,238,255);
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        bottom: 60px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 60px;

        @media (max-width: 767px) {
            bottom: 20px;
            top: 50px;
        }

        @media (max-width: 480px) {
            bottom: 10px;
            top: 35px;
        }
    }

    .tim {
        // Must come before other background image adjustments
        background: url(../images/headshot.png);

        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 160px;
        border-radius: 70px;
        border: 2px solid white;
        display: inline-block;
        height: 140px;
        left: 30px;
        line-height: 140px;
        position: absolute;
        top: 30px;
        width: 140px;
        z-index: 10;

        @media (max-width: 767px) {
            background-size: 120px;
            border-radius: 50px;
            height: 100px;
            left: 15px;
            line-height: 100px;
            top: 15px;
            width: 100px;
        }

        @media (max-width: 480px) {
            background-size: 90px;
            border-radius: 35px;
            height: 70px;
            left: 10px;
            line-height: 70px;
            top: 10px;
            width: 70px;
        }

        @media (max-width: 320px) {
            left: 0px;
        }
    }

    .links {
        bottom: 60px;
        left: 0px;
        margin: 0px auto;
        max-width: 768px;
        padding: 20px 0px 20px 200px;
        position: absolute;
        right: 0px;
        top: 60px;

        @media (max-width: 767px) {
            bottom: 30px;
            padding: 18px 0px 15px 130px;
            top: 30px;
        }

        @media (max-width: 480px) {
            bottom: 20px;
            padding: 13px 0px 5px 100px;
            top: 20px;
        }

        @media (max-width: 320px) {
            padding: 13px 0px 5px 85px;
        }

        a {
            color: rgb(20, 20, 20);
            display: inline-block;
            font-size: 20px;
            height: 35px;
            line-height: 28px;
            padding: 9px 30px 0px 30px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.1s ease;

            @media (max-width: 767px) {
                font-size: 16px;
                height: 26px;
                line-height: 20px;
                padding: 8px 10px 0px 10px;
            }

            @media (max-width: 480px) {
                font-size: 11px;
                height: 20px;
                line-height: 12px;
                padding: 8px 8px 0px 8px;
            }

            @media (max-width: 320px) {
                padding: 8px 5px 0px 5px;
            }

            border-radius: 2px;
        }

        .active {
            background-color: rgba(122, 148, 181, .15);
        }

        a:hover{
            background-color: rgb(122, 148, 181);
            color: white;
        }
    }
}

.content {
    margin: 0px auto;
    max-width: 768px;
    padding: 0px 0px 90px 0px;
    text-align: left;

    @media (max-width: 480px) {
        padding: 0px;
    }

    .padded {
        margin: 20px;
        padding: 0px 30px 40px 30px;

        @media (max-width: 767px) {
            margin: 20px;
            padding: 0px 25px 25px 25px;
        }

        @media (max-width: 480px) {
            margin: 10px;
            padding: 0px 5px 0px 5px;
        }
    }

    .projects {
        text-align: center;

        a {
            text-decoration: none;
        }

        a, section {
            float: left;
            height: auto;
            margin-bottom: -4px;
            margin: 0px;
            padding: 0px;
            transition: all 0.2s ease;
            width: 25%;

            @media (max-width: 767px) {
                width: 33%;
            }

            @media (max-width: 480px) {
                width: 50%;
            }

            img {
                width: 100%;
            }
        }
    }

    .project {

    }

    .work {
        span {
            text-decoration: underline;
        }
    }

    .blog {
        pre {
            background-color: white;
            border-radius: 3px;
            font-size: smaller;
            margin: 10px 20px 10px 10px;
            padding: 10px;
        }

        .entry:not(:first-child) {
            padding-top: 20px;
        }

        .entry:not(:last-child) {
            border-bottom: 1px solid rgb(200, 200, 200);
            padding-bottom: 20px;
        }
    }
}

footer {
    background-color: rgb(92,118,151);
    bottom: 0;
    left: 0;
    padding-right: 10px;
    padding: 0px;
    position: fixed;
    right: 0;
    text-align: right;

    @media (max-width: 480px) {
        margin-top: 40px;
        padding: 1px 0px 1px 0px;
        position: relative;
    }

    .social {
        background-color: rgb(122, 148, 181);
        border-radius: 2px;
        color: white;
        cursor: hand;
        cursor: pointer;
        display: inline-block;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        margin: 20px 10px 20px 0px;
        padding: 10px;
        text-align: center;
        transition: all 0.2s ease;
        width: 30px;

        @media (max-width: 767px) {
            font-size: 25px;
            height: 25px;
            line-height: 25px;
            width: 25px;
        }

        @media (max-width: 480px) {
            display: block;
            height: 30px;
            line-height: 30px;
            margin: 10px 10px 10px 10px;
            width: inherit;
        }
    }

    .email:hover {
        background-color: rgb(15, 157, 88);
    }

    .twitter:hover {
        background-color: rgb(0, 172, 237);
    }

    .facebook:hover {
        background-color: rgb(59, 89, 152);
    }

    .linkedin:hover {
        background-color: rgb(0, 123, 182);
    }

    .github:hover {
        background-color: rgb(0, 0, 0);
    }


    .doge {
        background-color: rgb(122, 148, 181);
        background-image: url(../images/dog-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;

        @media (max-width: 480px) {
            display: none;
        }
    }

    .doge:hover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        background: url(../images/doge.jpg);
    }

    .state {
        color: rgba(255, 255, 255, .35);
        font-size: 15px;
        left: 0px;
        line-height: 30px;
        padding: 30px;
        position: absolute;
        text-align: center;
        top: 0px;

        @media (max-width: 480px) {
            float: inherit;
            font-size: 15px;
            left: inherit;
            line-height: 15px;
            margin-top: -10px;
            padding: 10px;
            position: inherit;
            top: inherit;
        }
    }
}
