@import "normalize";

@import "color";
@import "mixins";
@import "fonts-base";
@import "fonts-extended";
@import "ringtail-icons-2.0";
@import "grid";
@import "bits";
@import "buttons";

@import "base";

// Create new Scss stylesheets and include them below.
// Try to make them as reusable and descriptive as possible.

body {
	background-color: #f4f4f4;
}

header {
	@include font-size(3.5);
	background-color: lighten($off-black, 10%);
	color: white;
	@extend %source-sans-extra-light;
	height: 70px;
	line-height: 70px;
	padding-left: 30px;

	@include breakpoint(medium) {
		@include font-size(3.0);
		height: 50px;
		line-height: 50px;
		padding-left: 20px;
	}
	@include breakpoint(small) { 
		@include font-size(2.5);
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
	}
}

header.display {
	position: fixed;
	top: 0px; 
	right: 0px;
	left: 0px;
	z-index: 10;
}

section, footer {
	background-color: white;
	display: block;

	width: 80%;
	max-width: 960px;
	min-width: 768px;
	margin: 0px auto;

	@include breakpoint(medium) {
		width: 100%;
		min-width: inherit;
	}
	@include breakpoint(small) { 
		width: 100%;
		min-width: inherit;
	}

}

section.masthead {
	@include font-size(6);
	background-color: #359dff;
	color: white;
	font-weight: bold;
	height: 300px;
	line-height: 300px;
	padding: 0px;
	text-align: center;

	@include breakpoint(medium) {
		height: 200px;
		line-height: 200px;
	}
	@include breakpoint(small) { 
		height: 150px;
		line-height: 150px;
	}
}

section.tim {
	background-image: url(../../assets/images/tim-hat.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	@extend %source-sans-bold;
	height: 600px;

	div.overlay {
		// background-color: rgba(0,0,0,.1);
		background: -moz-linear-gradient(
			top, 
			rgba(0,0,0,0) 0%, 
			rgba(0,0,0,0.5) 100%
		); 
		background: -webkit-linear-gradient(
			top, 
			rgba(0,0,0,0),
			rgba(0,0,0,.5)
		);
		background: linear-gradient(
			top, 
			rgba(0,0,0,0),
			rgba(0,0,0,.5)
		);
		height: 100%;

		position: relative;

		.introduction {
			position: absolute;
			bottom: 30px;
			right: 30px;
			@include font-size(7);
			font-weight: bold;
		}
	}

	@include breakpoint(medium) {
		height: 400px;
		div.overlay {
			.introduction {
				bottom: 20px;
				right: 20px;
				@include font-size(6);
			}
		}
	}

	@include breakpoint(small) { 
		height: 300px;
		div.overlay {
			.introduction {
				bottom: 10px;
				right: 10px;
				@include font-size(5);
			}
		}
	}
}

section.code {
	height: 500px;
	background-image: url(../../assets/images/code.png);
	background-size: cover;
	background-position: center;
	color: white;
	position: relative;
	@extend %source-code-bold;

	div {
		position: absolute;
		bottom: 30px;
		right: 30px;
		@include font-size(6);
	}

	@include breakpoint(medium) {
		height: 350px;
		div {
			bottom: 20px;
			right: 20px;
			@include font-size(5);
		}
	}

	@include breakpoint(small) { 
		height: 300px;
		div {
			bottom: 10px;
			right: 10px;
			@include font-size(3.5);
		}
	}
}

section.about {
	height: 500px;
	line-height: 500px;
	text-align: center;

	@include font-size(6);

	@include breakpoint(medium) {
		height: 450px;
		line-height: 450px;
		@include font-size(5);
	}

	@include breakpoint(small) { 
		height: 400px;
		line-height: 400px;
		@include font-size(4);
	}
}

section.work {
	height: 600px;
	line-height: 600px;
	padding-left: 10%;
	background-color: #0e3189;
	color: white;
	position: relative;

	@include font-size(10);

	img {
		position: absolute;
		top: 0px;
		right: 10%;
		height: 90%;
	}

	@include breakpoint(medium) {
		height: 450px;
		line-height: 450px;
		@include font-size(8);
	}

	@include breakpoint(small) { 
		height: 300px;
		line-height: 300px;
		@include font-size(6);
	}
}

section.visualize {
	height: 500px;
	background-image: url(../../assets/images/chart.png);
	background-size: cover;
	background-position: center;
	padding: 50px;

	@include font-size(5);

	@include breakpoint(medium) {
		height: 350px;
		@include font-size(4);
		padding: 35px;
	}

	@include breakpoint(small) { 
		height: 300px;
		@include font-size(3);
		padding: 20px;
	}
}




