<div class="padded blog">
    <div class="links top">
        <a href="" class="next" ng-if="next" ng-click="navigate(next)">Next Page</a>
        <a href="" class="previous" ng-if="previous" ng-click="navigate(previous)">Previous Page</a>
    </div>

    <div class="entry" ng-repeat="post in posts">
        <h2 ng-bind="post.title"></h2>
        <p ng-bind="post.published | date:'M/d/y'"></p>
        <div ng-bind-html="post.content"></div>
    </div>

    <div class="links bottom">
        <a href="" class="next" ng-if="next" ng-click="navigate(next)">Next Page</a>
        <a href="" class="previous" ng-if="previous" ng-click="navigate(previous)">Previous Page</a>
    </div>
</div>
