<div class="padded">
    <h1>Hi there!</h1>
    <p>
        I'm Tim and I make great software and compelling user experiences through thoughtful user interface and interaction design, plus lots of cool code. Currently I'm building the front-end team for an early-stage startup called <a href="http://marianatek.com" target="_blank">Mariana Tek</a>, developing retail management softare and data driven decisioning tools for the boutique fitness and spa industries. Previously I've held roles doing front-end development and user experience work at companies like <a href="http://www.kitcheck.com" target="_blank">Kit Check</a>, <a href="http://www.ringtaildesign.com" target="_blank">Ringtail Design</a>, and the <a href="http://www.jhuapl.edu/" target="_blank">Johns Hopkins University Applied Physics Laboratory</a>.
    </p>
    <p>
        My areas of interest include user interface development, data visualization, the user experience process, human computer interaction, <a href="http://en.wikipedia.org/wiki/Kitten" target="_blank">kittens</a>, dodging cars on my bicycle, and knitting.
    </p>
    <p>&nbsp;</p>
    <p>
        There really is no place like <a href="http://en.wikipedia.org/wiki/Localhost" target="_blank">::1</a>
    </p>
</div>

