<div class="padded">
	<h1>Hi there!</h1>
	<p>
		I'm Tim and I make great software and compelling user experiences through thoughtful user interface and interaction design, plus lots of cool code. I just started a new role at a commercial product startup called <a href="http://www.kitcheck.com" target="_blank">Kit Check</a>, building cool stuff helping make hospital pharmacies safer and more efficient. Previously, I built things for the folks at <a href="http://www.ringtaildesign.com" target="_blank">Ringtail Design</a>a as a User Experience developer, and before that I was a full-time software engineer and three-time summer intern with the <a href="http://www.jhuapl.edu/" target="_blank">Johns Hopkins University Applied Physics Laboratory</a>. In college, I spent time tutoring less experienced computer science students at the <a href="http://www.cs.umbc.edu/~cshc/" target="_blank">UMBC Computer Science Help Center</a>, and would one day like to teach college-level computer science.
	</p>
	<p>
		My areas of interest include user interface development, data visualization, the user experience process, human computer interaction, <a href="http://en.wikipedia.org/wiki/Kitten" target="_blank">kittens</a>, dodging cars on my bicycle, and learning new programming languages.
	</p>
	<p>&nbsp;</p>
	<p>
		There really is no place like <a href="http://en.wikipedia.org/wiki/Localhost" target="_blank">::1</a>
	</p>
</div>

